In [1]:
import numpy as np

In [2]:
import pandas as pd

In [5]:
# documentation for series
# help(pd.Series)

In [6]:
#  1. initialize using list
myIndex=['USA','INDIA','Canada']

In [7]:
myData=[1776,1947,1867]

In [11]:
mySer=pd.Series(data=myData,index=myIndex)   # It will store basic numeric index as well

In [17]:
mySer

USA       1776
INDIA     1947
Canada    1867
dtype: int64

In [15]:
mySer['USA']

1776

In [16]:
mySer[0]

1776

In [18]:
# 2. using dictionary

In [19]:
marks={'math':30,'physics':29,'bio':26}

In [24]:
pd.Series(marks)

math       30
physics    29
bio        26
dtype: int64

In [25]:
q1={'hisar':100,'Gurugram':200,'Rohtak':300,'Sirsa':400}

In [26]:
my_q1=pd.Series(q1)

In [27]:
my_q1.keys()

Index(['hisar', 'Gurugram', 'Rohtak', 'Sirsa'], dtype='object')

In [28]:
my_q1['hisar']

100

In [31]:
[1,2]*2

[1, 2, 1, 2]

In [32]:
np.array([1,2])*2  # broadcast

array([2, 4])

In [33]:
# similar with pandas series (since it is built of numpy array)
my_q1*2

hisar       200
Gurugram    400
Rohtak      600
Sirsa       800
dtype: int64

In [46]:
q2={'hisar':200,'Ambala':300,'Rohtak':100,'Sirsa':200}
my_q2=pd.Series(q2)
my_q2.dtype

dtype('int64')

In [37]:
# output by adding values of same index in both & nan for index not present in both series
my_q1+my_q2       # values converted to float64

Ambala        NaN
Gurugram      NaN
Rohtak      400.0
Sirsa       600.0
hisar       300.0
dtype: float64

In [47]:
# to also have values of pair that is not present in both series
first_half=my_q1.add(my_q2,fill_value=0)

In [48]:
first_half.dtype       # int to float in doing operation

dtype('float64')

In [ ]:
pd.Series()